---
import "../css/Projects/projects.css";
import "../css/Global/navbar.css";
import "../css/Global/global.css";

// BaseLayout.astro
const { frontmatter ={}, title = "Miguel Fiuza Gomes | Portfolio" } = Astro.props;
const pageTitle = frontmatter.title ?? title;
const base = import.meta.env.BASE_URL.endsWith("/")
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;


---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{frontmatter.title}</title>
  </head>

  <body>
    <nav class="nav-bar">
      <a href={`${base}`} class="nav-button">Home</a>
			<a href={`${base}about`} class="nav-button">About</a>
			<a href={`${base}projects`} class="nav-button">Projects</a>
			<a href={`${base}cv`} class="nav-button">CV</a>
			<a href={`${base}contacts`} class="nav-button">Contact</a>
    </nav>

    <main>

      <!-- Content -->
      <slot />


    </main>

  </body>
</html>