---
import "../css/Global/global.css";
import "../css/Global/navbar.css";
import "../css/Global/footer.css";
import "../css/Main/contacts.css";

// BaseLayout.astro
const { title } = Astro.props;
const base = import.meta.env.BASE_URL.endsWith("/")
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Miguel Fiuza Gomes - Contacts</title>
  </head>

  <body>
    <nav class="nav-bar">
      <a href={base} class="nav-button">Home</a>
      <a href={`${base}about`} class="nav-button">About</a>
			<a href={`${base}projects`} class="nav-button">Projects</a>
			<a href={`${base}cv`} class="nav-button">CV</a>
    </nav>

    <main>
      <slot />

      <!-- Footer -->
      <footer class="site-footer">
        <div class="footer-content">

          <h3>Miguel Fiuza Gomes</h3>
          <p>Game Developer · Graphics Programming · Technical Design</p>

          <div class="footer-links">
            <a href="https://github.com/MiguelFiuzaGomes" target="_blank" class="contact-link">
              github.com/MiguelFiuzaGomes
            </a>
            <a href="https://linkedin.com/in/miguel-fiuza-gomes" target="_blank" class="contact-link">
              linkedin.com/in/miguel-fiuza-gomes
            </a>
            <a href={`${base}cv`}>CV</a>
            <a href="mailto:miguel.fiuza.gomes@gmail.com" class="contact-link">
              miguel.fiuza.gomes@gmail.com
            </a>
          </div>

          <p class="footer-meta">
            Built with Astro · Hosted on GitHub Pages
          </p>

        </div>
      </footer>
    </main>
  </body>
</html>